@font-face {
  font-family: 'iconfont';  /* Project id 3252528 */
  src: url('//at.alicdn.com/t/font_3252528_w3gcwvptbg9.woff2?t=1649232000689') format('woff2'),
       url('//at.alicdn.com/t/font_3252528_w3gcwvptbg9.woff?t=1649232000689') format('woff'),
       url('//at.alicdn.com/t/font_3252528_w3gcwvptbg9.ttf?t=1649232000689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}